<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" type="text/css" href="assets/bulma.min.css" />
    <title>justanotherdot &#8226;</title>
  </head>
  <body>
    <section class="section">
      <div class="container">
        <div class="columns is-centered">
          <div class="column is-one-quarter">
            <a href="https://justanotherdot.com">
              <h1 class="title">
                justanotherdot &#8226;
              </h1>
            </a>
            <h1 class="subtitle">
              Ryan James Spencer
            </h1>
          </div>
          <div class="column is-half">
            <h2 class="subtitle is-5">Posts</h2>
            <div class="content">
              <ul>
                {{#posts}}
                <li>
                  <span class="content is-small">{{date_month_day_year}}</span> <a href="{{url}}">{{title}}</a>
                </li>
                {{/posts}}
              </ul>
            </div>
          </div>
          <div class="column">
            <h2 class="subtitle is-5">Tags</h2>
            <div class="tags">
              {{#tags}}
              <a class="tag" href="{{url}}">{{tag}}</a>
              {{/tags}}
            </div>

            <a class="has-text-centered has-text-weight-semibold" href="/subscribe.html">Subscribe to updates</a>

          </div>
        </div>
    </section>
  </body>
</html>
