<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" type="text/css" href="assets/bulma.min.css" />
    <title>justanotherdot &#8226;</title>
  </head>
  <body>
    <section class="section">
      <div class="container">
        <div class="columns is-centered">

          <div class="column is-one-quarter">
            {{>templates/brand.html}}
          </div>

          <div class="column">

            <h2 class="subtitle is-5">Posts</h2>
            <ul>
              {{#posts}}
              <li>
                <a href="{{url}}">{{title}}</a>
              </li>
              {{/posts}}
            </ul>



          </div>

            <div class="column">

              <h2 class="subtitle is-5">Tags</h2>
              <div class="tags">
                {{#tags}}
                <a class="tag" href="{{url}}">{{tag}}</a>
                {{/tags}}
              </div>

            </div>

      </section>

    </body>
  </html>
