<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="author" content="Ryan James Spencer" />
    <meta name="description" content="the blog of Ryan James Spencer" />
    <meta http-equiv="content-language" content="en">
    <meta name="HandheldFriendly" content="True" />
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- OPEN GRAPH BEG -->
    <meta property="og:url" content="https://justanotherdot.com">
    <meta property="og:type" content="website">
    <meta property="og:title" content="{{title}}">
    <meta property="og:image" content="https://justanotherdot.com/assets/images/{{image}}">
    <meta property="og:image:type" content="image/png">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="630">
    <meta property="og:description" content="{{summary}}">

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@_justanotherdot">
    <meta name="twitter:creator" content="@_justanotherdot">
    <meta name="twitter:title" content="{{title}}">
    <meta name="twitter:image" content="https://justanotherdot.com/assets/images/{{image}}">
    <meta name="twitter:description" content="{{summary}}">
    <!-- OPEN GRAPH END -->

    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="stylesheet" type="text/css" href="../assets/bulma.min.css" />
    <title>{{title}} &#8226; Ryan James Spencer</title>
    <style>
      .social-icon {
        stroke: currentColor;
        fill: none;
        position: relative;
        top: 2px;
        color: #000;
        width: 24px;
        height: 24px;
      }
    </style>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-157540512-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-157540512-1');
    </script>

  </head>
  <body>
    <section style="background-image:url(../assets/images/{{image}});background-size:cover;" data-src="{{domain}}/assets/images/{{image}}" class="hero is-fullheight">
      <div class="hero-body">
        <div class="container">
          <div class="columns">
            <div class="column is-one-quarter"></div>
            <div class="column">
              <h1 class="title has-text-white-bis" style="text-shadow: 0px 4px 24px #000000">{{title}}</h1>
              <h2 class="subtitle has-text-white-bis" style="text-shadow: 0px 4px 24px #000000"><a href="/" class="has-text-white-bis">Ryan James Spencer</a></h2>
            </div>
            <div class="column is-one-quarter"></div>
          </div>
        <div>
      <div>
    </section>
    <section class="section">
      <div class="container">
        <div class="columns">
          <div class="column is-one-quarter"></div>
          <div class="column is-half">
            <!--<p class="has-text-weight-bold">{{date}}</p>-->
            <div class="content is-medium">
              {{content}}
            </div>
            <hr>
            <!-- MOBILE NEWSLETTER BEGIN -->
            <div class="columns is-centered">
              <div class="column is-10">
                <h2 class="has-text-weight-semibold is-size-5 is-5 has-text-centered">Join the Newsletter</h2>
                <div>
                  <script async data-uid="c3c1e70aed" src="https://crafty-experimenter-867.ck.page/c3c1e70aed/index.js"></script>
                </div>
              </div>
            </div>
            <!-- MOBILE NEWSLETTER END -->
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
