<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="author" content="Ryan James Spencer" />
    <meta name="description" content="the blog of Ryan James Spencer" />
    <meta http-equiv="content-language" content="en">
    <meta name="HandheldFriendly" content="True" />
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="stylesheet" type="text/css" href="../assets/bulma.min.css" />
    <title>{{title}} &#8226; Ryan James Spencer</title>
    <style>
      .social-icon {
        stroke: currentColor;
        fill: none;
        position: relative;
        top: 2px;
        color: #000;
        width: 24px;
        height: 24px;
      }
    </style>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-157540512-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-157540512-1');
    </script>

  </head>
  <body>
    <section style="background-image:url({{image_url}});background-size:cover;" class="hero is-fullheight">
      <div class="hero-body">
        <div class="container has-text-centered">
          <!--<h1 class="title has-text-centered has-text-white-bis">{{title}}</h1>-->
          <!--<h2 class="subtitle has-text-centered has-text-white-bis">Ryan James Spencer</h2>-->
          <h1 class="title has-text-centered">{{title}}</h1>
          <h2 class="subtitle has-text-centered">Ryan James Spencer</h2>
        <div>
      <div>
    </section>
    <section class="section">
      <div class="container">
        <div class="columns">
          <div class="column is-one-quarter"></div>
          <div class="column is-half">
            <p class="has-text-weight-bold">{{date}}</p>
            <div class="content is-medium">
              {{content}}
            </div>
            <hr>
            <!-- MOBILE NEWSLETTER BEGIN -->
            <div class="columns">
              <div class="column is-10 is-centered">
                <h2 class="has-text-weight-semibold is-size-5 is-5 has-text-centered">Join the Newsletter</h2>
                <div>
                  <script async data-uid="c3c1e70aed" src="https://crafty-experimenter-867.ck.page/c3c1e70aed/index.js"></script>
                </div>
              </div>
            </div>
            <!-- MOBILE NEWSLETTER END -->
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
